body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #0a0a0a;
  color: #f2f2f2;
}

.prismo {
  position: relative;
  left: 20px;
  top: 5px;
  display: block;
  width: 100%;
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}


header {
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  position: sticky;
  top: 0;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #00ffff;
}

.section {
  padding: 4rem 3rem;
  text-align: center;
}

.project img {
  width: 300px;
  border-radius: 12px;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #00ffff;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 2rem;
  background: #111;
  font-size: 0.9rem;
}

.description{
  font-family: 'Bitcount prop Single';
  position: relative;
  left: 50px;
}

.description_paragraph{
  font-size: 15px;
  position: relative;
  left: 50px;

}

.prismo1{
  max-width:50%;
  height:auto;
  position: relative;
  left: 50px;
}

.container-1{
  display:flex;
  align-items:center;
  gap: 100px;
}

.prismo2{
  max-width:50%;
  height:auto;
  position: relative;
  left: 750px;
}

.container-2{
  display:flex;
  align-items:center;
  gap: 100px;
  margin: 15px;
}

.container-2 p {
  position: relative;
  right: 500px
} 
 .prismo-btn{
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #00ffff;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s;
 }
.prismo-btn:hover{
 transform: scale(1.05);
}

.container-3{
  display:flex;
  align-items:center;
  gap: 100px;
  margin: 15px;
}

.anex-container-3-1 p{
  display:inline;
  position: relative;
  right: 800px;
  top: 50px;

}

.bullet{
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.anex-container-3-1{
  display:block;
  position:relative; 
}

.ethernet-btn{
  position: relative;
  left:760px;
  margin-top: 10px;
  padding: 10px 20px;
  background: #00ffff;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s;
 }

.ethernet-btn:hover{
  transform: scale(1.05);
}
#contact{
  display:inline;
  align-items:Center;
  text-align: center;
}


